.input-search{
    border-color: var(--color-primary) !important;

}
.btn-none{
    border:none;
    background:none;
}
.text-justify{
    text-align: justify;
}
.text-right{
    text-align: right !important;
}
.recuo { text-indent:2.5em }
.flag
{ 
    width: 2.1rem;
    cursor: pointer;
}
.flag:hover{
    opacity: 0.6;
}
.btn-getstart{
    background:var(--color-primary);
    color:var(--color-white);
}
.btn.btn-getstart:hover{
    background:var(--color-primary-light);
}

.badge-secondary{
    margin: 0.4rem;
    background: var(--bs-light);
    border: 0.8px solid var(--color-primary);
    border-radius: 3rem;
    padding: 0.5rem;
    color:var(--color-black);
}
.badge .bi-x:hover{
    cursor:pointer;
}
.footer .footer-content{
    background-color: #002d59 !important;
    color: var(--color-white) !important;
}
.footer-info .logo{
    width: 10rem
}
.img-carosel{
    border-radius:1rem;
}
/*05.598.350/0001-15*/
.filters{
    border:solid 0.05rem;
    padding:2rem;
    border-color: var(--color-primary);
    border-radius:1rem;
}
#filters{
    padding-top: 0rem;
}
#filters p{
    cursor:pointer;
    color:var(--color-primary);
}
#revistas{
    padding-bottom: 0rem;
}
.text-primary{

}